@model _25948083_Wassenaar_L_Project_3.Models.FileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Commit</title>
     <style type="text/css">
     .heading {color:black; background:lawngreen; text-align:center; font-size:large;font-family:Impact}
     .welcome_heading{color:white;font-family:Calibri;font-size:large}
     .label {color:lawngreen; font-size:medium;font-family:Calibri; text-align:left}
     .button_area{font-size:large;text-align:center;font-family:Impact}
     .button_area_2{font-size:large;text-align:left}
     .button {width: 185px; color: lawngreen; background-color:black; font-family:arial; font-size:large;border-radius: 12px;border-color:lawngreen}
     .button_activity {width: 185px; color: white; background-color:black; font-family:arial; font-size:large;border-radius: 12px;border-color:white}
     .welcome_pos{text-align:right}
     .activity_pos{text-align:center;font-size:small}
     .button_browse {width: 350px; color: lawngreen; background-color:black; font-family:arial; font-size:large;border-radius: 12px;border-color:lawngreen}
     .button:hover{transform:scale(1.1)}
     .button_activity:hover{transform:scale(1.1)}
     .button_back{color:white; background-color:black; width:130px; text-align:center;font-size:small;border-radius: 12px;border-color:white}
     .button_back:hover{transform:scale(1.1)}
     .link{font-family:Calibri;text-align:left;font-size:medium}
     .view_data{color:white;font-size:6px;font-family:Calibri}
     .browse{color:white;text-align:center;color:lawngreen;font-family:Calibri;font-size:medium;width}
     .textbox_size{width:500px;border-radius:8px}
     .panel_area{margin: 0 auto; border:8px solid lawngreen;padding:2%; padding: 5px; font-size: medium; width: 700px; height: 210px;background-color:black; color: black;text-align:center;border-radius: 12px;border-color:lawngreen}
     .info { position: relative; display: inline-block;color:lawngreen;background-color:black;border-color:lawngreen;font-family:Arial;font-weight:bold;font-size:medium;animation-name:flicker}
     .info .info_text {visibility: hidden;width: 350px;background-color: lawngreen;color: black;text-align:center;font-size:small;border-radius: 6px;padding: 5px 0;position: absolute;z-index: 1}
     .info:hover .info_text {visibility: visible;}
      input[type='file']::-webkit-file-upload-button{width: 120px; color: black; background-color:lawngreen; font-family:Calibri;font-weight:bold; font-size:large;border-radius: 12px;border-color:lawngreen}
     </style>

</head>

<body style="background-color:black">
@using (Html.BeginForm("CommitP", "FilePagePrivate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="welcome_pos">
        <label class="welcome_heading">Welcome @Session["username"]</label>
    </div>

        <div class="heading">
            <h1>UPLOAD OR UPDATE AN EXISTING FILE (PRIVATE)</h1>
        </div>

    <div class="info">
        Hover over me for info?
        <span class="info_text">The web application will automatically detect if an uploaded file exists. Please don't change the file name when updating a particular file</span>
    </div>
    <h1></h1>
    <div class="activity_pos">
        <h6>-----</h6>
        <input type="button" class="button_activity" value="MY ACTIVITY" onclick="location.href='@Url.Action("login_historyP","FilePagePrivate")'">
        <h1></h1>
    </div>
    <div class="panel_area">
        
        <div class="browse">
            <h1></h1>
            @Html.TextBox("File", "", new { type = "File", @class = "button_browse"})
            <h1></h1>
            @Html.LabelFor(model => model.file_descripion)
            @Html.TextBoxFor(model => model.file_descripion, new { @class = "textbox_size", autocomplete = "off" })
            <h1></h1>
            @Html.ValidationMessageFor(model => model.file_descripion)
            <h1></h1>
            <input type="submit" value="UPLOAD/UPDATE" class="button"/>
            <input type="button" class="button" value="EXISTING FILES" onclick="location.href='@Url.Action("DownloadsP","FilePagePrivate")'">
            <div class="view_data">
                <h1>@Html.ViewData["Message"]</h1>
            </div>

        </div>
 
    </div>
    <div class="link">
        <h3>-----</h3>
        <h3>-----</h3>
        <input type="button" class="button_back" value="LOGOUT" onclick="location.href='@Url.Action("Index","Login")'">
 </div>
}

</body>
</html>
